<div class="form-header">
  <h1>Grupo de apoio <%= @apoio.nomegrupoapoio %></h1>
</div>
<div class="form-content">

  <p>
    <strong>Telefone:</strong>
    <%= @apoio.telefone %>
  </p>

  <p>
    <strong>Logradouro:</strong>
    <%= @apoio.logradouro %>
  </p>

  <p>
    <strong>Número:</strong>
    <%= @apoio.numero %>
  </p>

  <p>
    <strong>Bairro:</strong>
    <%= @apoio.bairro %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= @apoio.cidade %>
  </p>

  <p>
    <strong>UF:</strong>
    <%= @apoio.uf %>
  </p>

</div>