<%= form_with(model: raw_registros_ocorrencias_ssp_sp_gov_br, local: true) do |form| %>
  <% if raw_registros_ocorrencias_ssp_sp_gov_br.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(raw_registros_ocorrencias_ssp_sp_gov_br.errors.count, "error") %> prohibited this raw_registros_ocorrencias_ssp_sp_gov_br from being saved:</h2>
      <ul>
          <% raw_registros_ocorrencias_ssp_sp_gov_br.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
      </ul>
    </div>
  <% end %>
  <ul class="flex-outer">
    <li class="form-field">
        <%= form.label :dataocorrencia, 'Data da ocorrência' %>
        <%= form.text_field :dataocorrencia, placeholder: "Digite aqui...", :maxlength => 10, class:'date' %>
    </li>
    <li class="form-field">
        <%= form.label :horaocorrencia, 'Hora da ocorrência' %>
        <%= form.text_field :horaocorrencia, placeholder: "Digite aqui...", :maxlength => 5, class:'hour' %>
    </li>
    <h2>Endereço</h2>
    <li class="form-field">
        <%= form.label :logradouro %>
        <%= form.text_field :logradouro, placeholder: "Digite aqui..." %>
    </li>
    <li class="form-field">
        <%= form.label :numero, 'Número' %>
        <%= form.number_field :numero, placeholder: "Digite aqui..." %>
    </li>
    <li class="form-field">
        <%= form.label :bairro %>
        <%= form.text_field :bairro, placeholder: "Digite aqui..." %>
    </li>
    <li class="form-field">
        <%= form.label :cidade %>
        <%= form.text_field :cidade, placeholder: "Digite aqui..." %>
    </li>
    <li class="form-field">
        <%= form.label :uf %>
        <%= form.select(:uf, ["AC", "AL", "AM", "AP", "BA", "CE", "DF", "ES", "GO", "MA", "MT", "MS", "MG", "PA", "PB", "PR", "PE", "PI", "RJ", "RN", "RO", "RS", "RR", "SC", "SE", "SP", "TO"], {include_blank: "Selecione..."}) %>
    </li>
    <li class="form-field">
        <%= form.label :descricaolocal, 'Descrição do local' %>
        <%= form.text_field :descricaolocal, placeholder: "Digite aqui..." %>
    </li>
    <h2>Informações da vítima</h2>
    <li class="form-field">
        <%= form.label :nomepessoa, 'Nome' %>
        <%= form.text_field :nomepessoa, placeholder: "Digite aqui..." %>
    </li>
    <li class="form-field">
        <%= form.label :rg %>
        <%= form.text_field :rg, placeholder: "Digite aqui...", :maxlength => 12, class:'rg' %>
    </li>
    <li class="form-field">
        <%= form.label :nacionalidade %>
        <%= form.text_field :nacionalidade, placeholder: "Digite aqui..." %>
    </li>
    <li class="form-field">
        <%= form.label :sexo %>
        <%= form.select(:sexo, ['Feminino', 'Masculino', 'N/A'], {include_blank: "Selecione..."}) %>
    </li>
    <li class="form-field">
        <%= form.label :datanascimento, 'Data de nascimento' %>
        <%= form.text_field :datanascimento, placeholder: "Digite aqui...", :maxlength => 10, class:'date' %>
    </li>
    <li class="form-field">
        <%= form.label :estadocivil, 'Estado civil' %>
        <%= form.select(:estadocivil, ['Solteiro', 'Casado', 'Separado', 'Divorciado', 'Viúvo'], {include_blank: "Selecione..."}) %>
    </li>
    <li class="form-field">
        <%= form.label :profissao, 'Profissão' %>
        <%= form.text_field :profissao, placeholder: "Digite aqui..." %>
    </li>
    <li class="form-submit">
        <%= form.submit 'Registrar' %>
    </li>
  </ul>
<% end %>