<%= form_with(model: raw_registros_ocorrencias_ssp_sp_gov_br, local: true) do |form| %>
  <% if raw_registros_ocorrencias_ssp_sp_gov_br.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(raw_registros_ocorrencias_ssp_sp_gov_br.errors.count, "error") %> prohibited this raw_registros_ocorrencias_ssp_sp_gov_br from being saved:</h2>
      <ul>
          <% raw_registros_ocorrencias_ssp_sp_gov_br.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
      </ul>
    </div>
  <% end %>
  <ul class="flex-outer">
    <li class="form-field">
        <%= form.label :dataocorrencia, 'Data da ocorrência' %>
        <%= form.text_field :dataocorrencia, :maxlength => 10, class:'date' %>
    </li>
    <li class="form-field">
        <%= form.label :horaocorrencia, 'Hora da ocorrência' %>
        <%= form.text_field :horaocorrencia, :maxlength => 5, class:'hour' %>
    </li>
    <h2>Endereço</h2>
    <li class="form-field">
        <%= form.label :logradouro %>
        <%= form.text_field :logradouro %>
    </li>
    <li class="form-field">
        <%= form.label :numero, 'Número' %>
        <%= form.number_field :numero %>
    </li>
    <li class="form-field">
        <%= form.label :bairro %>
        <%= form.text_field :bairro %>
    </li>
    <li class="form-field">
        <%= form.label :cidade %>
        <%= form.text_field :cidade %>
    </li>
    <li class="form-field">
        <%= form.label :uf %>
        <%= form.text_field :uf %>
    </li>
    <li class="form-field">
        <%= form.label :descricaolocal, 'Descrição do local' %>
        <%= form.text_field :descricaolocal %>
    </li>
    <h2>Informações da vítima</h2>
    <li class="form-field">
        <%= form.label :nomepessoa, 'Nome' %>
        <%= form.text_field :nomepessoa %>
    </li>
    <li class="form-field">
        <%= form.label :rg %>
        <%= form.text_field :rg, :maxlength => 12, class:'rg' %>
    </li>
    <li class="form-field">
        <%= form.label :nacionalidade %>
        <%= form.text_field :nacionalidade %>
    </li>
    <li class="form-field">
        <%= form.label :sexo %>
        <%= form.text_field :sexo %>
    </li>
    <li class="form-field">
        <%= form.label :datanascimento, 'Data de nascimento' %>
        <%= form.text_field :datanascimento, :maxlength => 10, class:'date' %>
    </li>
    <li class="form-field">
        <%= form.label :estadocivil, 'Estado civil' %>
        <%= form.text_field :estadocivil %>
    </li>
    <li class="form-field">
        <%= form.label :profissao, 'Profissão' %>
        <%= form.text_field :profissao %>
    </li>
    <li class="form-submit">
        <%= form.submit 'Registrar' %>
    </li>
  </ul>
<% end %>