<%= form_with(model: raw_registros_ocorrencias_ssp_sp_gov_br, local: true) do |form| %>
  <% if raw_registros_ocorrencias_ssp_sp_gov_br.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(raw_registros_ocorrencias_ssp_sp_gov_br.errors.count, "error") %> prohibited this raw_registros_ocorrencias_ssp_sp_gov_br from being saved:</h2>
      <ul>
          <% raw_registros_ocorrencias_ssp_sp_gov_br.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
      </ul>
    </div>
  <% end %>
  <ul class="flex-outer">
    <li class="form-field">
        <%= form.label :ano_bo %>
        <%= form.number_field :ano_bo %>
    </li>
    <li class="form-field">
        <%= form.label :num_bo %>
        <%= form.number_field :num_bo %>
    </li>
    <li class="form-field">
        <%= form.label :numero_boletim %>
        <%= form.text_area :numero_boletim %>
    </li>
    <li class="form-field">
        <%= form.label :bo_iniciado %>
        <%= form.text_area :bo_iniciado %>
    </li>
    <li class="form-field">
        <%= form.label :bo_emitido %>
        <%= form.text_area :bo_emitido %>
    </li>
    <li class="form-field">
        <%= form.label :dataocorrencia %>
        <%= form.text_area :dataocorrencia %>
    </li>
    <li class="form-field">
        <%= form.label :horaocorrencia %>
        <%= form.text_area :horaocorrencia %>
    </li>
    <li class="form-field">
        <%= form.label :peridoocorrencia %>
        <%= form.text_area :peridoocorrencia %>
    </li>
    <li class="form-field">
        <%= form.label :datacomunicacao %>
        <%= form.text_area :datacomunicacao %>
    </li>
    <li class="form-field">
        <%= form.label :dataelaboracao %>
        <%= form.text_area :dataelaboracao %>
    </li>
    <li class="form-field">
        <%= form.label :bo_autoria %>
        <%= form.text_area :bo_autoria %>
    </li>
    <li class="form-field">
        <%= form.label :flagrante %>
        <%= form.text_area :flagrante %>
    </li>
    <li class="form-field">
        <%= form.label :numero_boletim_principal %>
        <%= form.text_area :numero_boletim_principal %>
    </li>
    <li class="form-field">
        <%= form.label :logradouro %>
        <%= form.text_area :logradouro %>
    </li>
    <li class="form-field">
        <%= form.label :numero %>
        <%= form.number_field :numero %>
    </li>
    <li class="form-field">
        <%= form.label :bairro %>
        <%= form.text_area :bairro %>
    </li>
    <li class="form-field">
        <%= form.label :cidade %>
        <%= form.text_area :cidade %>
    </li>
    <li class="form-field">
        <%= form.label :uf %>
        <%= form.text_area :uf %>
    </li>
    <li class="form-field">
        <%= form.label :latitude %>
        <%= form.text_area :latitude %>
    </li>
    <li class="form-field">
        <%= form.label :longitude %>
        <%= form.text_area :longitude %>
    </li>
    <li class="form-field">
        <%= form.label :descricaolocal %>
        <%= form.text_area :descricaolocal %>
    </li>
    <li class="form-field">
        <%= form.label :exame %>
        <%= form.text_area :exame %>
    </li>
    <li class="form-field">
        <%= form.label :solucao %>
        <%= form.text_area :solucao %>
    </li>
    <li class="form-field">
        <%= form.label :delegacia_nome %>
        <%= form.text_area :delegacia_nome %>
    </li>
    <li class="form-field">
        <%= form.label :delegacia_circunscricao %>
        <%= form.text_area :delegacia_circunscricao %>
    </li>
    <li class="form-field">
        <%= form.label :especie %>
        <%= form.text_area :especie %>
    </li>
    <li class="form-field">
        <%= form.label :rubrica %>
        <%= form.text_area :rubrica %>
    </li>
    <li class="form-field">
        <%= form.label :desdobramento %>
        <%= form.text_area :desdobramento %>
    </li>
    <li class="form-field">
        <%= form.label :status %>
        <%= form.text_area :status %>
    </li>
    <li class="form-field">
        <%= form.label :nomepessoa %>
        <%= form.text_area :nomepessoa %>
    </li>
    <li class="form-field">
        <%= form.label :tipopessoa %>
        <%= form.text_area :tipopessoa %>
    </li>
    <li class="form-field">
        <%= form.label :vitimafatal %>
        <%= form.text_area :vitimafatal %>
    </li>
    <li class="form-field">
        <%= form.label :rg %>
        <%= form.text_area :rg %>
    </li>
    <li class="form-field">
        <%= form.label :rg_uf %>
        <%= form.text_area :rg_uf %>
    </li>
    <li class="form-field">
        <%= form.label :naturalidade %>
        <%= form.text_area :naturalidade %>
    </li>
    <li class="form-field">
        <%= form.label :nacionalidade %>
        <%= form.text_area :nacionalidade %>
    </li>
    <li class="form-field">
        <%= form.label :sexo %>
        <%= form.text_area :sexo %>
    </li>
    <li class="form-field">
        <%= form.label :datanascimento %>
        <%= form.text_area :datanascimento %>
    </li>
    <li class="form-field">
        <%= form.label :idade %>
        <%= form.text_area :idade %>
    </li>
    <li class="form-field">
        <%= form.label :estadocivil %>
        <%= form.text_area :estadocivil %>
    </li>
    <li class="form-field">
        <%= form.label :profissao %>
        <%= form.text_area :profissao %>
    </li>
    <li class="form-field">
        <%= form.label :grauinstrucao %>
        <%= form.text_area :grauinstrucao %>
    </li>
    <li class="form-field">
        <%= form.label :corcutis %>
        <%= form.text_area :corcutis %>
    </li>
    <li class="form-field">
        <%= form.label :naturezavinculada %>
        <%= form.text_area :naturezavinculada %>
    </li>
    <li class="form-field">
        <%= form.label :tipovinculo %>
        <%= form.text_area :tipovinculo %>
    </li>
    <li class="form-field">
        <%= form.label :relacionamento %>
        <%= form.text_area :relacionamento %>
    </li>
    <li class="form-field">
        <%= form.label :parentesco %>
        <%= form.text_area :parentesco %>
    </li>
    <li class="form-field">
        <%= form.label :placa_veiculo %>
        <%= form.text_area :placa_veiculo %>
    </li>
    <li class="form-field">
        <%= form.label :uf_veiculo %>
        <%= form.text_area :uf_veiculo %>
    </li>
    <li class="form-field">
        <%= form.label :cidade_veiculo %>
        <%= form.text_area :cidade_veiculo %>
    </li>
    <li class="form-field">
        <%= form.label :descr_cor_veiculo %>
        <%= form.text_area :descr_cor_veiculo %>
    </li>
    <li class="form-field">
        <%= form.label :descr_marca_veiculo %>
        <%= form.text_area :descr_marca_veiculo %>
    </li>
    <li class="form-field">
        <%= form.label :ano_fabricacao %>
        <%= form.number_field :ano_fabricacao %>
    </li>
    <li class="form-field">
        <%= form.label :ano_modelo %>
        <%= form.number_field :ano_modelo %>
    </li>
    <li class="form-field">
        <%= form.label :descr_tipo_veiculo %>
        <%= form.text_area :descr_tipo_veiculo %>
    </li>
    <li class="form-field">
        <%= form.label :quant_celular %>
        <%= form.text_area :quant_celular %>
    </li>
    <li class="form-field">
        <%= form.label :marca_celular %>
        <%= form.text_area :marca_celular %>
    <li class="form-submit">
        <%= form.submit %>
    </li>
  </ul>
<% end %>