<p id="notice"><%= notice %></p>
<h1>Relatórios dos Registros de violência contra mulher</h1>

<div class="table">

  <%= link_to 'NOVO REGISTRO', new_raw_registros_ocorrencias_ssp_sp_gov_br_path, class: "btn"%>

  <table>
    <thead>
      <tr>
        <th>Numero boletim</th>
        <th>Data ocorrencia</th>
        <th>Logradouro</th>
        <th>Numero</th>
        <th>Bairro</th>
        <th>Cidade</th>
        <th>UF</th>
        <th>Exame</th>
        <th>Solucao</th>
        <th>Vitima fatal</th>
        <th>RG</th>
        <th>Nacionalidade</th>
        <th>Sexo</th>
        <th>Data nascimento</th>
        <th>Idade</th>
        <th>Estadocivil</th>
        <th>Profissao</th>
        <th colspan="3">Acoes</th>
      </tr>
    </thead>

    <tbody>
      <% @raw_registros_ocorrencias_ssp_sp_gov_brs.each do |raw_registros_ocorrencias_ssp_sp_gov_br| %>
        <tr>
          <td><%= raw_registros_ocorrencias_ssp_sp_gov_br.numero_boletim %></td>
          <td><%= raw_registros_ocorrencias_ssp_sp_gov_br.dataocorrencia %></td>
          <td><%= raw_registros_ocorrencias_ssp_sp_gov_br.logradouro %></td>
          <td><%= raw_registros_ocorrencias_ssp_sp_gov_br.numero %></td>
          <td><%= raw_registros_ocorrencias_ssp_sp_gov_br.bairro %></td>
          <td><%= raw_registros_ocorrencias_ssp_sp_gov_br.cidade %></td>
          <td><%= raw_registros_ocorrencias_ssp_sp_gov_br.uf %></td>
          <td><%= raw_registros_ocorrencias_ssp_sp_gov_br.exame %></td>
          <td><%= raw_registros_ocorrencias_ssp_sp_gov_br.solucao %></td>
          <td><%= raw_registros_ocorrencias_ssp_sp_gov_br.vitimafatal %></td>
          <td><%= raw_registros_ocorrencias_ssp_sp_gov_br.rg %></td>
          <td><%= raw_registros_ocorrencias_ssp_sp_gov_br.nacionalidade %></td>
          <td><%= raw_registros_ocorrencias_ssp_sp_gov_br.sexo %></td>
          <td><%= raw_registros_ocorrencias_ssp_sp_gov_br.datanascimento %></td>
          <td><%= raw_registros_ocorrencias_ssp_sp_gov_br.idade %></td>
          <td><%= raw_registros_ocorrencias_ssp_sp_gov_br.estadocivil %></td>
          <td><%= raw_registros_ocorrencias_ssp_sp_gov_br.profissao %></td>
          <td><%= link_to 'Show', raw_registros_ocorrencias_ssp_sp_gov_br %></td>
          <td><%= link_to 'Edit', edit_raw_registros_ocorrencias_ssp_sp_gov_br_path(raw_registros_ocorrencias_ssp_sp_gov_br) %></td>
          <td><%= link_to 'Destroy', raw_registros_ocorrencias_ssp_sp_gov_br, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
