<p id="notice"><%= notice %></p>
<h1>Relatórios dos Registros de violência contra mulher</h1>

<div class="table">

  <%= link_to 'NOVO REGISTRO', new_raw_registros_ocorrencias_ssp_sp_gov_br_path, class: "btn"%>

  <div class="form form-component">
    <div class="form-header">
        <h2>Filtros</h2>
    </div>
    <div class="form-content">
      <%= form_tag('/raw_registros_ocorrencias_ssp_sp_gov_brs', :method => "get") do %>
        <ul class="flex-outer">
          <li class="form-field">
            <%= label_tag(:numero_boletim, 'N° boletim') %>
            <%= text_field_tag(:numero_boletim) %>
          </li>
          <li class="form-field">
            <%= label_tag(:dataocorrencia, 'Data') %>
            <%= text_field_tag(:dataocorrencia) %>
          </li>
          <li class="form-field">
            <%= label_tag(:bairro, 'Bairro') %>
            <%= text_field_tag(:bairro) %>
          </li>
          <li class="form-field">
            <%= label_tag(:cidade, 'Cidade') %>
            <%= text_field_tag(:cidade) %>
          </li>
          <li class="form-field">
            <%= label_tag(:uf, 'UF') %>
            <%= text_field_tag(:uf) %>
          </li>
          <li class="form-field">
            <%= label_tag(:rg, 'RG') %>
            <%= text_field_tag(:rg) %>
          </li>
          <li class="form-submit">
            <%= submit_tag 'Buscar' %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>

  <%= link_to "Exportar", '/raw_registros_ocorrencias_ssp_sp_gov_brs.csv', class: "btn", :id => "download_csv_link" %>

  <table>
    <thead>
      <tr>
        <th>N° boletim</th>
        <th>Data</th>
        <th>Bairro</th>
        <th>Cidade</th>
        <th>UF</th>
        <th>RG</th>
        <th colspan="1">Ações</th>
      </tr>
    </thead>

    <tbody>
      <% @raw_registros_ocorrencias_ssp_sp_gov_brs.each do |raw_registros_ocorrencias_ssp_sp_gov_br| %>
        <tr>
          <td><%= raw_registros_ocorrencias_ssp_sp_gov_br.numero_boletim %></td>
          <td><%= raw_registros_ocorrencias_ssp_sp_gov_br.dataocorrencia %></td>
          <td><%= raw_registros_ocorrencias_ssp_sp_gov_br.bairro %></td>
          <td><%= raw_registros_ocorrencias_ssp_sp_gov_br.cidade %></td>
          <td><%= raw_registros_ocorrencias_ssp_sp_gov_br.uf %></td>
          <td><%= raw_registros_ocorrencias_ssp_sp_gov_br.rg %></td>
          <td>
            <%= link_to raw_registros_ocorrencias_ssp_sp_gov_br do %>
              <img class="icon detalhar" src=" <%= asset_path('search.svg') %>"/>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
