<div class="form-header">
    <h1>Ocorrência <%= @raw_registros_ocorrencias_ssp_sp_gov_br.numero_boletim %></h1>
</div>
<div class="form-content">

  <p>
    <strong>Data:</strong>
    <%= (@raw_registros_ocorrencias_ssp_sp_gov_br.dataocorrencia.nil? ? '' : (@raw_registros_ocorrencias_ssp_sp_gov_br.dataocorrencia + ' - ')) +
        (@raw_registros_ocorrencias_ssp_sp_gov_br.horaocorrencia.nil? ? '' : @raw_registros_ocorrencias_ssp_sp_gov_br.horaocorrencia) %>
  </p>

  <h1>Endereço</h1>

  <p>
    <strong>Logradouro:</strong>
    <%= @raw_registros_ocorrencias_ssp_sp_gov_br.logradouro %>
  </p>

  <p>
    <strong>Número:</strong>
    <%= @raw_registros_ocorrencias_ssp_sp_gov_br.numero %>
  </p>

  <p>
    <strong>Bairro:</strong>
    <%= @raw_registros_ocorrencias_ssp_sp_gov_br.bairro %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= @raw_registros_ocorrencias_ssp_sp_gov_br.cidade %>
  </p>

  <p>
    <strong>UF:</strong>
    <%= @raw_registros_ocorrencias_ssp_sp_gov_br.uf %>
  </p>

  <p>
    <strong>Descrição do local:</strong>
    <%= @raw_registros_ocorrencias_ssp_sp_gov_br.descricaolocal %>
  </p>

  <h1>Vítima</h1>

  <p>
    <strong>Nome:</strong>
    <%= @raw_registros_ocorrencias_ssp_sp_gov_br.nomepessoa %>
  </p>

  <p>
    <strong>RG:</strong>
    <%= @raw_registros_ocorrencias_ssp_sp_gov_br.rg %>
  </p>

  <p>
    <strong>Naturalidade:</strong>
    <%= @raw_registros_ocorrencias_ssp_sp_gov_br.naturalidade %>
  </p>

  <p>
    <strong>Nacionalidade:</strong>
    <%= @raw_registros_ocorrencias_ssp_sp_gov_br.nacionalidade %>
  </p>

  <p>
    <strong>Sexo:</strong>
    <%= @raw_registros_ocorrencias_ssp_sp_gov_br.sexo %>
  </p>

  <p>
    <strong>Data de nascimento:</strong>
    <%= @raw_registros_ocorrencias_ssp_sp_gov_br.datanascimento %>
  </p>

  <p>
    <strong>Estado civil:</strong>
    <%= @raw_registros_ocorrencias_ssp_sp_gov_br.estadocivil %>
  </p>

  <p>
    <strong>Profissão:</strong>
    <%= @raw_registros_ocorrencias_ssp_sp_gov_br.profissao %>
  </p>

</div>