<div class="form-header">
    <h1>Ocorrência <%= @registros_grupos_reflexivos.nomegruporeflexivo %></h1>
</div>
<div class="form-content">

  <p>
    <strong>Telefone:</strong>
    <%= @registros_grupos_reflexivos.telefone %>
  </p>

  <p>
    <strong>Logradouro:</strong>
    <%= @registros_grupos_reflexivos.logradouro %>
  </p>

  <p>
    <strong>Número:</strong>
    <%= @registros_grupos_reflexivos.numero %>
  </p>

  <p>
    <strong>Bairro:</strong>
    <%= @registros_grupos_reflexivos.bairro %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= @registros_grupos_reflexivos.cidade %>
  </p>

  <p>
    <strong>UF:</strong>
    <%= @registros_grupos_reflexivos.uf %>
  </p>

</div>