<h3>Reportar</h3>
<%= form_with scope: :report, url: reports_path, local: true do |form| %>
  <div>
    <%= form.label :date %>
    <%= form.text_field :date %>
  </div>
  <div>
    <%= form.label :cep %>
    <%= form.text_field :cep %>
  </div>
  <div>
    <%= form.submit 'Prosseguir' %>
  </div>
<% end %>