<div class="form">
  <div class="form-header">
    <h1>Reportar</h1>
  </div>
  <div class="form-content">
    <%= form_with scope: :report, url: reports_path, local: true do |form| %>
      <ul class="flex-outer">
        <li class="form-field">
          <%= form.label :date %>
          <%= form.text_field :date %>
        </li>
        <li class="form-field">
          <%= form.label :cep %>
          <%= form.text_field :cep %>
        </li>
        <li class="form-submit">
          <%= form.submit 'Prosseguir' %>
        </li>
      </ul>
    <% end %>
  </div>
</div>