<!DOCTYPE html>
<html>
  <head>
    <title>Marielle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

    </header>
    <main>
      <ul class="nav">
        <li><a href="/">Logo Marielle</a></li>
        <li><a href="/raw_registros_ocorrencias_ssp_sp_gov_brs">
          <img class="icon" src=" <%= asset_path('address-card.svg') %>"/>Relatorios</a>
        </li>
      </ul>
      <div class="yield">
        <%= yield %>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
