<!DOCTYPE html>
<html>
  <head>
    <title>Marielle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      
    </header>
    <main>
      <ul class="nav">
        <li><a href="/">Logo Marielle</a></li>
        <li><a href="/reports/show">
          <img class="icon" src=" <%= asset_path('address-card.svg') %>"/>Relatorios</a>
        </li>
        <li><a href="/reports/new">
          <img class="icon" src=" <%= asset_path('plus-square.svg') %>"/>Reportar</a>
        </li>
      </ul>
      <%= yield %>
    </main>
    <footer></footer>
  </body>
</html>
